table, th, tr {
    border: 1px solid white;
    border-collapse: collapse;

}

table {
    transform: translateX(-50%) translateX(50vw);
}

th {
    background-color: darkslategray;
    color: white;
    padding: 10px 30px 10px 5px;
    text-align: left;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: #2f4f4f30;
}

tr:hover {
    background-color: darkslategray;
    color: white;
}

td {
    padding: 5px 30px 5px 5px;
}