table, th, tr {
    border: 1px solid white;
    border-collapse: collapse;

}

table {
    transform: translateX(-50%) translateX(50vw);
}

@media only screen and (max-width: 1550px) {
    #full-student-table {
        transform: none;
    }
}

@media only screen and (max-width: 650px) {
    #full-teacher-table {
        transform: none;
    }
}

th {
    background-color: darkslategray;
    color: white;
    padding: 10px 20px 10px 5px;
    text-align: left;
    position: sticky;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: #2f4f4f30;
}

tr:hover {
    background-color: darkslategray;
    color: white;
}

td {
    padding: 5px 20px 5px 5px;
}

#table-button-column {
    padding: 5px 5px 5px 5px
}

#excel-input-form {
    display: block;
}